.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.background {
  height: 100%;
  width: 70%;
}

.loginbox {
  z-index: 0;
  min-width: 500px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.switcher {
  width: 30%;
  position: relative;
  margin: auto;
}

.form {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  opacity: 0.95;
}

.label {
  font-size: 16px;
}

.tabItem {
  width: 220px;
  text-align: center;
}



.formhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formtitle {
  position: relative;
  top: -12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin: 20px;
  color: #007fe9;
  font-family: '黑体'
}