.body {
    height: calc(100vh - 180px);
    overflow-y: scroll;
}


.selector {
    width: 100%;
    padding: 0 50px;
}

.list {
    display: flex;
    flex-direction: row;
}

.tabletitle {
    position: relative;
    top: 10px;
    left: 12px;
    font-size: 30px;
    margin: 0 30px 0 30px;
    padding-bottom: 40px;
    font-weight: 600;
    color: #2577E3;
    white-space: nowrap;
}